@page "/cart"
@using IdentityServerProject_Rasmus.Shared.DTOs
@using IdentityServerProject_Rasmus.Shared.Interfaces
@using IdentityServerProject_Rasmus.API.Services
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject IService<ShopProductDto, Guid> ProductService
@inject IService<UserCartDto, string> UserCartService
@inject UserInfoService UserInfoService
@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Cart</PageTitle>

<h1>Cart</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Products</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @if (UserCart != null)
                {
                    <Virtualize Items="UserCart">
                        <tr>
                            <td>@context.Name</td>
                            <td>@context.Price</td>
                            <td><img src="@context.ImageUrl" alt="(@context.Name+'jpg')" width="60" height="60"/></td>
                            <td>
                                    <button class="btn btn-danger" @onclick="() => DeleteProduct(context.Id)">Delete</button>
                            </td>
                        </tr>
                    </Virtualize>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<ShopProductDto>? UserCart { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var userId = await UserInfoService.GetLoggedInUserEmail();
        var foundCart = await UserCartService.GetByIdAsync(userId);

        if (foundCart == null)
        {
            var newCart = new UserCartDto()
            {
                ShopProducts = new List<ShopProductDto>(),
                UserEmail = userId
            };
            await UserCartService.CreateAsync(newCart);
        }
        else
        {
            UserCart.AddRange(foundCart.ShopProducts);
        }

        

    }

    private async Task DeleteProduct(Guid productId)
    {
        var removeAtIndex = UserCart.IndexOf(UserCart.FirstOrDefault(d => d.Id == productId));
        UserCart.RemoveAt(removeAtIndex);

        var foundCart = await UserCartService.GetByIdAsync(await UserInfoService.GetLoggedInUserEmail());

        foundCart.ShopProducts = UserCart;

        await UserCartService.UpdateAsync(foundCart);

    }

}
